<h1 id="tableLabel">Patients list</h1>


<p *ngIf="!patients"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patients">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Diagnostic</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{patient.id}}</td>
      <td style="cursor:pointer" (click)="getPatientData(patient.id)">{{ patient.name }}</td>
      <td>{{ patient.diagnostic }}</td>
    </tr>
  </tbody>
</table>
<hr /><hr /><hr /><br />
<div *ngIf="!isPatientSelected">
  <h3 class="text-center">No patient selected yet...</h3>
</div>

<div *ngIf="isPatientSelected">
  <button type="button" class="btn btn-primary" style="float:right" (click)="reset()">Clear selection</button>
  <h2><em>Patient Details</em></h2>
  <hr />
  <div class="row">
    <div class="col-md-6"><b>Name:</b> {{patient?.name}}</div>
    <div class="col-md-6"><b>Diagnostic:</b> {{patient?.diagnostic}}</div>
  </div>
  <hr />

  <div *ngIf="recomandations[patient.id] == null">
    <p class="text-center" style="color:red"><b>no recomandations for this patient</b></p>
  </div>
  <div *ngIf="recomandations[patient.id] != null">
    <p class="text-center" style="color:green"><b>{{recomandations[patient.id].recomandation}}</b></p>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value, patient.id)">
    <div class="text-center">
      <label for="recomandation">
        Recomandation
      </label>
      <input id="recomandation" type="text" formControlName="recomandation" size="80">
    </div>
    <button class="btn btn-primary" type="submit">Submit recomandation</button>
  </form>
  <hr />
  <ngx-charts-gauge [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    [legend]="legend"
                    [legendPosition]="legendPosition"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
  </ngx-charts-gauge>
</div>
<br /><br /><br />
